<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <div class="container">
     <div class="row">
         <div class="col-sm-6">
             LOGIN
    <table class="table table-bordered" >
        <tr>
            <td> username</td>
            <td><input type="text"/></td>
    
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password"/></td>
        </tr>
        <tr>
            <td>

            </td>
            <td><button class="btn btn-primary">LOGIN</button></td>
        </tr>
    </table>         
         </div>
         <div class="col-sm-6">
             REGISTER
         </div>
     </div>
 </div>
     
</body>
</html>